<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card {
            max-width: 800px;
            margin: auto;
        }

        .highlight {
            font-weight: 600;
        }

        ul {
            text-align: left;
        }

        .transp-label {
            max-height: 100px;
            margin-top: 5px;
            /* margin-bottom: 5px; */
        }
    </style>
</head>
<body class="bg-light py-5">

    <div class="container">
        <div class="card shadow p-5">
            <h1 class="mb-4 text-left">Thank you for your participation!</h1>

           
            <p>
                The purpose of this study was to examine the <span class="highlight">effect of different explanations</span> shown alongside recommended news articles. These explanations were designed to address <span class="highlight">different reasons why people sometimes avoid news</span> (for example because they don't trust the news or because it is too negative and overwhelming). We were interested in whether showing such explanations changes people's interaction with news articles about topics they would usually avoid.
            </p>
            <p>
                In each round of this study, you were shown a main article from your selected favourite topic, and two recommended articles: one from your favourite topic and one from your least favourite topic. One round focused on so-called <span class="highlight">hard-news</span> topics (e.g., politics or finance) and the other round focused on <span class="highlight">soft-news</span> topics (e.g., lifestyle or entertainment).
            </p>

            <p class="lead">
                <a href="https://app.prolific.com/submissions/complete?cc=CY7RXKM1">Click here to return to Prolific and complete your submission.</a>
            </p>
        </div>
    </div>
</body>
</html>
